.search,
.search-results {
    width: 361px;
}
.search {
    position: relative;
    height: var(--search-height);
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    display: flex;
    border: 1.5px solid transparent;
    input {
        flex: 1;
        color: var(--black);
        font-size: 1.6rem;
        height: 100%;
        padding-right: 40px;
        background: transparent;
        caret-color: var(--primary);
        font-family: var(--font-family);
    }
    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }
    &::after {
        position: absolute;
        content: '';
        top: var(--top-space);
        width: 1px;
        right: 52px;
        height: calc(var(--search-height) - var(--top-space) * 2);
        background-color: rgba(22, 24, 35, 0.12);
    }
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}
.search-label {
    padding: 5px 12px;
    font-size: 14px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}
.clear,
.loading {
    font-size: 16px;
    color: rgba(22, 24, 35, 0.34);
    position: absolute;
    top: 50%;
    right: calc(var(--search-button-right) + 16px);
    transform: translateY(-50%);
}

.loading {
    animation: spinner 0.8s linear infinite;
}
@keyframes spinner {
    0% {
        transform: translateY(-50%) rotate(0);
    }
    100% {
        transform: translateY(-50%) rotate(360deg);
    }
}
.search-btn {
    width: var(--search-button-right);
    height: 100%;
    border-radius: 0 var(--search-border-radius) var(--search-border-radius) 0;
    font-size: 2rem;
    color: rgba(22, 24, 35, 0.34);
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
